<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info" throwExceptions="false">

  <include file="${environment:variable=APPLICATION_LOG_NLOG_INCLUDE_FILE_PATH}" ignoreErrors="true" />

  <variable name="logRoot" value="${environment:variable=APPLICATION_LOG_ROOT:whenEmpty=${basedir}\logs}\${environment:variable=APP_POOL_ID:lowercase=true:whenEmpty=${processname:lowercase=true}}" />

  <!-- the targets to write to -->
  <targets>
    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="ownFile-web" fileName="${logRoot}\${logger:shortName=true}.log"
            layout="${longdate}|${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" createDirs="true" />
    <target name="console" xsi:type="ColoredConsole" layout="${date:HH\:mm\:ss}${literal:text=\:} ${logger:shortName=true} (${level}) - ${message}">
      <highlight-row condition="level = LogLevel.Error" foregroundColor="Red" backgroundColor="NoChange" />
      <highlight-row condition="level = LogLevel.Warn" foregroundColor="Yellow" backgroundColor="NoChange" />
    </target>
    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true"  />

    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>